.nested {
    /* padding-left: 50px; */
    text-align: center;
}

.nested h5 {
    line-height: 50px;
}

body {
    background-color: #2bdfecfa;
}

#a {
    height: 450px;
}

#b {
    height: 450px;
}

#c {
    height: 450px;
}

h4 {
    color: black;
}


.footers {
    margin-top: 100px;
}

.footer {

    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(9, 21, 34);
    color: white;
    text-align: center;

    padding: 100px;
}

.footer p {
    margin-bottom: 0px;
}